/*Selector {
	Property: value;
}
cascading of selectors depends on 3 key factors:

-specificity= ranking order of css properties
-importance
-source order= order in which rules are written

*/
body {
	background-image: url(https://www.xmple.com/wallpaper/gray-lines-cyan-stripes-streaks-1920x1080-c2-71a9b6-647376-l2-94-94-a-90-f-1.svg);
	background-size: cover;
	cursor: cell;
}
img {
	height: 400px;
	width: 400px;
	transition: all 1s;
	align-items: : center;
}	
img:hover {
	transform: scale(1.1);
}
h1 {
	color: rgba(0,250,250,1);
	text-align: center;
	border: 1px solid cyan;
	background-color: rgba(25, 0, 25, 0.4);
	border-radius: 100%;
	margin-left: 30%;
	margin-right: 30%;
	font-size: 100px;
	text-shadow: 3px 3px rgba(0,0,0,0.7);
	text-decoration: underline;
	text-transform: uppercase;
	font-weight: bold;
}
h2 {
	color: rgba(250,250,250,0.7);
	border: 1px solid cyan;
	background-color: rgba(25, 0, 25, 0.4);
	margin-right: 5%;
	margin-left: 5%;
	text-align: center;
	text-align: center;
	padding: 10px;
	text-shadow: 2px 2px black;
}
p {
	color: rgba(250,250,250,0.9);
	border: 1px solid cyan;
	background-color: rgba(25, 0, 25, 0.4);
	margin-right: 75px;
	margin-left: 75px;
	text-align: center;
	text-align: center;
	padding: 10px;
	text-shadow: 2px 2px black;
}
h3, nav {
	margin-left: 100px;
	margin-right: 100px;
	border: 1px solid cyan;
	padding: 10px;
	background-color: rgba(20,200,250,0.2);

}
/*ELEMENT SELECTOR CONFIGURATIONS:

many tags can be selected. element1, element2= applies rule to each.
element1 element2= rules only apply to element2 when it is within element1.
element1 > element2= only element2 if it contains element1
element1 + element2= element2 only if following element1
element:hover= aplies rules only when cursor is hovering above
element:first/last-child= applies rules only to first or last child of the 
selected elements depending on selection of first-child or last-child
*/
h4, h5, h6 {
	color: rgba(250,250,250,0.9);
	border: 1px solid cyan;
	background-color: rgba(25, 0, 25, 0.4);
	margin-right: 75px;
	margin-left: 75px;
	text-align: center;
	text-align: center;
	padding: 10px;
	cursor: alias; 
	text-shadow: 2px 2px black;
}
form {
	display: inline-bloc;
	cursor: alias;
	line-height: 10px;
}
img {
	float: left;
}
/*class, can be used many times*/
.webtext {

}
/*id is only used once*/
#div1 {

}
/*star selecter applys properties to entire file, properties can be
 overwritten due to cascading
!important= overides any other rules that may cascade it.
 */

















































